



a {text-decoration: #80CEE1;}


.padrao {background: #80CEE1; 
		text-align: center; 
		font: 20pt arial;
		}
		
.container{
	text-align: center;
	color: white;
	background: #80CEE1;
	font: 10pt
}

